* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #5C6576;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.3125rem;
  background: #F4F4F5; }

h1,
h2,
h3,
h4 {
  margin-bottom: 1.3125rem; }

h1 {
  font-size: 2.75rem;
  line-height: 2.625rem;
  margin-bottom: 2.625rem; }

h2 {
  font-size: 1.9375rem;
  line-height: 2.625rem; }

h3,
header[role="banner"] .brand,
header[role="banner"] .brand h1 {
  font-size: 1.25rem;
  line-height: 1.3125rem;
  font-weight: 500; }

h4 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 500;
  color: #9DA2AC; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin: 1.3125rem 0; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #0f93f5;
  -webkit-transition: color 250ms ease-in-out;
          transition: color 250ms ease-in-out; }
  a:hover {
    color: #0768b0;
    -webkit-transition: color 250ms ease-in-out;
            transition: color 250ms ease-in-out; }

ol,
ul {
  padding-left: 1.3125rem;
  margin-left: 1.3125rem; }

ol.no-style,
ul.no-style {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

strong {
  font-weight: 800; }

small {
  font-size: 0.75rem; }

code,
pre {
  font-size: 14px; }

blockquote {
  display: block;
  font-size: 1.25rem;
  line-height: 1.3125rem;
  margin: 1.3125rem auto;
  font-style: italic;
  font-weight: 300;
  color: #9DA2AC; }

hr {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  margin: 0.875rem auto;
  height: 1px;
  background: #DEE0E3; }

img {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  max-width: 100%; }

.text-center {
  text-align: center; }

.text-action {
  color: #0f93f5; }

.text-danger {
  color: #f44336; }

.text-success {
  color: #46af4a; }

.text-warning {
  color: #ff9800; }

.text-muted {
  color: #9DA2AC; }

.action,
.danger,
.success {
  color: white; }

.action {
  background-color: #0f93f5; }

.danger {
  background-color: #f44336; }

.success {
  background-color: #46af4a; }

.warning {
  background-color: #ff9800; }

.muted {
  background-color: #F4F4F5; }

.grid, .block header,
.block footer, .block article, header[role="banner"] nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  felx-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto; }
  .align-top.grid, .block header.align-top,
  .block footer.align-top, .block article.align-top, header[role="banner"] nav.align-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .align-bottom.grid, .block header.align-bottom,
  .block footer.align-bottom, .block article.align-bottom, header[role="banner"] nav.align-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .align-center.grid, .block header.align-center,
  .block footer.align-center, .block article.align-center, header[role="banner"] nav.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  @media screen and (max-width: 767px) {
    .grid, .block header,
    .block footer, .block article, header[role="banner"] nav {
      width: 90%; } }

.grid-cell,
.grid-fourth,
.grid-third,
.grid-half,
header[role="banner"] .brand,
header[role="banner"] .brand h1, header[role="banner"] .menu, .grid-two-thirds,
.grid-three-fourths,
.grid-full {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1.4%; }
  .grid-cell:first-child,
  .grid-fourth:first-child,
  .grid-third:first-child,
  .grid-half:first-child,
  header[role="banner"] .brand:first-child,
  header[role="banner"] .brand h1:first-child, header[role="banner"] .menu:first-child, .grid-two-thirds:first-child,
  .grid-three-fourths:first-child,
  .grid-full:first-child {
    margin-left: 0; }
  .grid-cell:last-child,
  .grid-fourth:last-child,
  .grid-third:last-child,
  .grid-half:last-child,
  header[role="banner"] .brand:last-child,
  header[role="banner"] .brand h1:last-child, header[role="banner"] .menu:last-child, .grid-two-thirds:last-child,
  .grid-three-fourths:last-child,
  .grid-full:last-child {
    margin-right: 0; }
  @media screen and (max-width: 767px) {
    .grid-cell,
    .grid-fourth,
    .grid-third,
    .grid-half,
    header[role="banner"] .brand,
    header[role="banner"] .brand h1, header[role="banner"] .menu, .grid-two-thirds,
    .grid-three-fourths,
    .grid-full {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin: 0;
      margin-bottom: 1.4%; } }

.grid.test {
  background: #fcfcfc; }
  .grid.test h3 {
    padding: 0.625rem 0;
    text-indent: 0.625rem;
    background: #F4F4F5;
    border: 1px solid #DEE0E3;
    border-radius: 4px;
    margin-bottom: 1.3125rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

input,
textarea,
select {
  border: 1px solid #DEE0E3;
  background-color: white !important;
  display: block;
  width: 100%;
  height: 2.625rem;
  max-height: 2.625rem;
  margin-bottom: 1.3125rem;
  color: #5C6576;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3125rem;
  letter-spacing: 0.09rem;
  text-indent: 0.625rem;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
          transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #0f93f5;
    box-shadow: 0 0 6px rgba(15, 147, 245, 0.45); }
  input:focus,
  textarea:focus,
  select:focus {
    -webkit-transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
            transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }

textarea {
  hieght: auto;
  max-height: none;
  padding: 0.625rem 0; }

input.action,
textarea.action,
select.action {
  border: 1px solid #0877c9;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(15, 147, 245, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #5C6576; }
  input.action:focus,
  textarea.action:focus,
  select.action:focus {
    border-color: #0f93f5;
    box-shadow: 0 0 6px rgba(15, 147, 245, 0.45); }
  input.action:focus,
  textarea.action:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(15, 147, 245, 0.6); }

input.danger,
textarea.danger,
select.action {
  border: 1px solid #ea1c0d;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(244, 67, 54, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #5C6576; }
  input.danger:focus,
  textarea.danger:focus,
  select.action:focus {
    border-color: #f44336;
    box-shadow: 0 0 6px rgba(244, 67, 54, 0.45); }
  input.danger:focus,
  textarea.danger:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(244, 67, 54, 0.6); }

input.success,
textarea.success,
select.action {
  border: 1px solid #378b3b;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(70, 175, 74, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #5C6576; }
  input.success:focus,
  textarea.success:focus,
  select.action:focus {
    border-color: #46af4a;
    box-shadow: 0 0 6px rgba(70, 175, 74, 0.45); }
  input.success:focus,
  textarea.success:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(70, 175, 74, 0.6); }

input.warning,
textarea.warning,
select.action {
  border: 1px solid #cc7a00;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(255, 152, 0, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #5C6576; }
  input.warning:focus,
  textarea.warning:focus,
  select.action:focus {
    border-color: #ff9800;
    box-shadow: 0 0 6px rgba(255, 152, 0, 0.45); }
  input.warning:focus,
  textarea.warning:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(255, 152, 0, 0.6); }

.btn,
a.btn,
button,
button.btn,
input[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: #717988;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #DEE0E3;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #F4F4F5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19), 0 1px 1px white; }
  .btn:hover,
  a.btn:hover,
  button:hover,
  button.btn:hover,
  input[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #d9d9dd;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn:active,
  .btn.selected,
  a.btn:active,
  a.btn.selected,
  button:active,
  button.selected,
  button.btn:active,
  button.btn.selected,
  input[type="submit"]:active,
  input[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #ccccd1;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.action,
a.btn.action,
button.action,
button.btn.action,
input.action[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #0877c9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #0f93f5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.24); }
  .btn.action:hover,
  a.btn.action:hover,
  button.action:hover,
  button.btn.action:hover,
  input.action[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #0877c9;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.action:active,
  .btn.action.selected,
  a.btn.action:active,
  a.btn.action.selected,
  button.action:active,
  button.action.selected,
  button.btn.action:active,
  button.btn.action.selected,
  input.action[type="submit"]:active,
  input.action[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #0768b0;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.danger,
a.btn.danger,
button.danger,
button.btn.danger,
input.danger[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #ea1c0d;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #f44336;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.danger:hover,
  a.btn.danger:hover,
  button.danger:hover,
  button.btn.danger:hover,
  input.danger[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #ea1c0d;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.danger:active,
  .btn.danger.selected,
  a.btn.danger:active,
  a.btn.danger.selected,
  button.danger:active,
  button.danger.selected,
  button.btn.danger:active,
  button.btn.danger.selected,
  input.danger[type="submit"]:active,
  input.danger[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #d2190b;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.success,
a.btn.success,
button.success,
button.btn.success,
input.success[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #378b3b;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #46af4a;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.success:hover,
  a.btn.success:hover,
  button.success:hover,
  button.btn.success:hover,
  input.success[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #378b3b;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.success:active,
  .btn.success.selected,
  a.btn.success:active,
  a.btn.success.selected,
  button.success:active,
  button.success.selected,
  button.btn.success:active,
  button.btn.success.selected,
  input.success[type="submit"]:active,
  input.success[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #307833;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.warning,
a.btn.warning,
button.warning,
button.btn.warning,
input.warning[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #cc7a00;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #ff9800;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.warning:hover,
  a.btn.warning:hover,
  button.warning:hover,
  button.btn.warning:hover,
  input.warning[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #cc7a00;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.warning:active,
  .btn.warning.selected,
  a.btn.warning:active,
  a.btn.warning.selected,
  button.warning:active,
  button.warning.selected,
  button.btn.warning:active,
  button.btn.warning.selected,
  input.warning[type="submit"]:active,
  input.warning[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #b36a00;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.brand,
a.btn.brand,
button.brand,
button.btn.brand,
input.brand[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: #2F6D2C;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #44c33e;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #57C951;
  text-shadow: none; }
  .btn.brand:hover,
  a.btn.brand:hover,
  button.brand:hover,
  button.btn.brand:hover,
  input.brand[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #3db037;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.brand:active,
  .btn.brand.selected,
  a.btn.brand:active,
  a.btn.brand.selected,
  button.brand:active,
  button.brand.selected,
  button.btn.brand:active,
  button.btn.brand.selected,
  input.brand[type="submit"]:active,
  input.brand[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #369d31;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.brand-alt,
a.btn.brand-alt,
button.brand-alt,
button.btn.brand-alt,
input.brand-alt[type="submit"] {
  display: inline-block;
  margin-bottom: 1.3125rem;
  height: 2.625rem;
  max-height: 2.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #DEE0E3;
  border-color: #272e3b;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #3B465A;
  text-shadow: none; }
  .btn.brand-alt:hover,
  a.btn.brand-alt:hover,
  button.brand-alt:hover,
  button.btn.brand-alt:hover,
  input.brand-alt[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #272e3b;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.brand-alt:active,
  .btn.brand-alt.selected,
  a.btn.brand-alt:active,
  a.btn.brand-alt.selected,
  button.brand-alt:active,
  button.brand-alt.selected,
  button.btn.brand-alt:active,
  button.btn.brand-alt.selected,
  input.brand-alt[type="submit"]:active,
  input.brand-alt[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #1d222c;
    -webkit-transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out;
            transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn .material-icons {
  vertical-align: middle; }

.grid-fourth {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 22.9%;
      -ms-flex: 0 0 22.9%;
          flex: 0 0 22.9%; }

.grid-third {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.45%;
      -ms-flex: 0 0 31.45%;
          flex: 0 0 31.45%; }

.grid-half,
header[role="banner"] .brand,
header[role="banner"] .brand h1, header[role="banner"] .menu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48.6%;
      -ms-flex: 0 0 48.6%;
          flex: 0 0 48.6%; }

.grid-two-thirds {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65.6666%;
      -ms-flex: 0 0 65.6666%;
          flex: 0 0 65.6666%; }

.grid-three-fourths {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 74.3%;
      -ms-flex: 0 0 74.3%;
          flex: 0 0 74.3%; }

.grid-full {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

@media screen and (max-width: 767px) {
  .grid-cell,
  .grid-fourth,
  .grid-third,
  .grid-half,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-full {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

.block {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 4rem 0; }

.block header,
.block footer {
  display: block; }

.block article {
  padding: 2.625rem 0; }

.block {
  background: #F4F4F5;
  color: #5C6576;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #DEE0E3; }

.block.brand {
  background: #57C951;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border: none; }

.block.brand-alt {
  background: #4AAA45;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border: none; }

section.bg-gray {
  background: #F4F4F5;
  color: #5C6576;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #DEE0E3; }

section.action {
  background: #0f93f5;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

section.danger {
  background: #f44336;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

section.success {
  background: #46af4a;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

section.warning {
  background: #ff9800;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

.block.no-border {
  border: none; }

header[role="banner"] {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  z-index: 1000;
  width: 100%;
  background: #1D2533;
  padding: 0.625rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  header[role="banner"] nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header[role="banner"] .brand,
  header[role="banner"] .barnd h1,
  header[role="banner"] ul {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: 0;
    padding: 0; }
  header[role="banner"] .brand,
  header[role="banner"] .brand h1 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    padding: 0; }
  header[role="banner"] .menu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: right; }
  header[role="banner"] .menu ul li {
    display: inline; }
  @media screen and (max-width: 767px) {
    header[role="banner"] .menu ul {
      position: absolute;
      top: -1000px;
      position: absolute;
      z-index: 800;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      text-align: center;
      -webkit-transition: top 300ms ease-in-out;
              transition: top 300ms ease-in-out; }
      header[role="banner"] .menu ul li {
        display: block;
        background: #F4F4F5;
        width: 100%;
        padding: 0.875rem 0;
        border-bottom: 1px solid #DEE0E3;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      header[role="banner"] .menu ul .divder {
        display: none; }
      header[role="banner"] .menu ul.show {
        top: 5rem;
        z-index: 800;
        -webkit-transition: top 300ms ease-in-out;
                transition: top 300ms ease-in-out; } }
  header[role="banner"] .mobile-menu {
    display: none;
    visibility: hidden;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    cursor: pointer;
    color: #0f93f5; }
    @media screen and (max-width: 767px) {
      header[role="banner"] .mobile-menu {
        display: inline-block;
        visibility: visible; } }

header[role="banner"].fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.625rem; }

main.fixed-header {
  margin-top: 2.625rem; }

footer[role="footer"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 4rem 0;
  color: white;
  font-size: 0.625rem;
  text-align: center;
  background: #717988; }

.profile-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 2.625rem;
  max-width: 64rem; }

.profile-side {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 13.875rem;
      -ms-flex: 0 0 13.875rem;
          flex: 0 0 13.875rem;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin: 1.3125rem;
  margin-left: 0;
  display: block;
  padding: 0.875rem;
  color: #5C6576;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
  padding: 0; }

.profile-main {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 29.25rem;
      -ms-flex: 0 0 29.25rem;
          flex: 0 0 29.25rem;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 1.3125rem;
  background: white;
  display: block;
  padding: 0.875rem;
  color: #5C6576;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
  padding: 0;
  border-left: 1px solid #DEE0E3;
  border-right: 1px solid #DEE0E3;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.profile-secondary {
  padding-top: 1.3125rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 13.875rem;
      -ms-flex: 0 0 13.875rem;
          flex: 0 0 13.875rem;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
  .profile-secondary .card {
    height: 13.875rem;
    margin-bottom: 1.3125rem;
    display: block;
    padding: 0.875rem;
    color: #5C6576;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: white; }

.profile-header {
  padding: 1.3125rem;
  padding-top: 2.625rem;
  color: white;
  text-align: center;
  background: #4AAA45;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .profile-header img {
    display: block;
    height: 5.25rem;
    width: 5.25rem;
    margin: 0 auto;
    margin-bottom: 0.875rem;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.updatebox {
  padding: 0.875rem;
  padding-top: 1.3125rem;
  background: #F0F0F0; }

.feed {
  margin: 0;
  padding: 0;
  list-style: none; }

.list-card {
  padding: 0.875rem;
  border-bottom: 1px solid #DEE0E3; }

.list-card header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .list-card header img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 2.625rem;
        -ms-flex: 0 0 2.625rem;
            flex: 0 0 2.625rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    height: 2.625rem;
    width: 2.625rem;
    margin-right: 0.875rem;
    border-radius: 50%; }
  .list-card header .header-content {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

.list-card footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 2.625rem;
  text-align: left; }

/*# sourceMappingURL=master.css.map */